# Ignore everything by default
*

# Do not ignore the gitignore file and Makefile
!.gitignore
!Makefile
!Doxyfile
# Allow all directories (so that Git can traverse them)
!*/

# Explicitly include source files in any directory
!**/*.c
!**/*.h

# Explicitly include generated Doxygen documentation directories and their files:
!docs/latex/refman.pdf
!docs/html/*
build/eba.mod.c
